/* Welcome to Compass. Use this file to define print styles.
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/print.css" media="print" rel="stylesheet" type="text/css" /> */

@media print {
  a[href]:after {
    content: none !important;
  }
  #hero{
    display:none;
  }
  form {
    width: 670px;
    font-size: 15px;
    border:none;
  }
  #promowebsite.ie8.registreren .pagebreak{
    page-break-after:always;
  }
  #promowebsite.ie7.registreren form, #promowebsite.ie8.registreren form {
    width: auto;
    font-size: 15px;
  }
  input[type="radio"], input[type="checkbox"] {
    display: none
  }
  body * {
    visibility: hidden
  }
  form, form * {
    visibility: visible
  }
  .formfix {
    display: inline !important;
    visibility: visible !important
  }
  form, #promowebsite, #container, #frameContainer {
    position: absolute !important;
    left: 0;
    top: 0
  }
  #print {
    display: none !important
  }
}