@import "screen";

.registreren{
  
  width : 958px;
  border: 1px solid #ccc;
  font-size : 12px;
  
  @media screen and (min-width: 1px) and (max-width: 960px) {
    width:auto;
    border:none;  
  }
  @import "compass/css3/border-radius";
  @import "compass/css3/box-shadow";
  
  div{
    &.mobile-message{
      display:none;
    }
  }
  
  form{
    width : 705px;
    position:relative;
    padding : 30px;
    margin:0px;
    background-color:#fff;
    border-left:190px solid #e4f5ff;
    
    @media screen and (min-width: 1px) and (max-width: 960px) {
      width:auto;
      border:none;
    }
    
    div{
      &.fe_selectWrap{
        display:none !important;
      }
    }
      
    .clearfix{
      &:after{
        clear:both;
        content:".";
        height:0;
        display:block;
        visibility:hidden;
      }
    }
    .products{
      display:none;
    }
    p{
      position: relative;
      display: block;
      margin : 15px 0px;
      color : #000;
      line-height : 15px;
      
      strong{
        font-weight:bold;
      }
      &.explanation{
        font-style:italic;
        line-height: 15px;
      }
    }
    ul > li{
      color : #000;
      line-height:15px;
    }
    ul{
      &.address{
        padding-left:0px;
      }
      &.bullets{
        padding-left:15px;
        li{
          list-style:disc !important;
          font-size:15px;
          line-height:22px;
          
        }
      }
    }
    
    h1{
      color: #666666;
      font-size: 24px;
    }
    h2{
      font-size:18px;
    }
    
    .col{
      float: left;
      display: block;
      &.one.two-col{
        width : 200px;
      }
      label{
        &.error{
          right: -40px
        }
      }
    }
    
    fieldset{
      margin-bottom: 10px;
    }
    .prefix{
      width: 200px;
      display: block;
      float: left;
      
    }
    label{
      &.error{
          position: absolute;
          top: 3px;
          right: 110px;
          color: red;
          font-style:italic;
          font-weight:bold;
      }
    }
    .akkoord{
      label{
        &.error{
          right:0px;
        }
      }
    }
    .selected{
      font-weight:bold;
    }
    textarea{
      display: inline;
      padding: 2.5px 10px;
      border: 1px solid #ccc;
      @include border-radius(5px);
      color: #000;
      width: 400px;
      
      @media screen and (min-width: 1px) and (max-width: 960px) {
        width:100%; 
      }
      &.error{
        border: 1px solid red
      }
    }
    #cashback{
      font-weight:bold;
      margin:0px 0px 0px 200px;
    }
    input[type="text"].error, input[type="date"].error{
      border: 1px solid red
    }
    input[type="text"].userinput.error {
      color: red
    }
    input[type="text"].userinput.valid:focus {
      color: green;
      border: 1px solid green
    }
    input.postfix, input[type="text"], input[type="date"]{
      display: inline;
      padding: 2.5px 10px;
      border: 1px solid #ccc;
      @include border-radius(5px);
      color: #000;
      width: 400px;
      
       @media screen and (min-width: 1px) and (max-width: 960px) {
          width:100%; 
       }
    }
    input[type="radio"] {
      margin: 0 10px 0 20px
    }
    input[type="checkbox"] {
      margin: 0px 20px 0px 0px !important;
    }
    input:focus, textarea:focus {
      border: 1px solid #333;
      color: #000 !important
    }
    input:focus, textarea:focus {
      border: 1px solid #333;
      color: #000 !important
    }
    input.default-text {
      color: #222222;
      font-style: italic;
    }
    .choices{
      
      *{
        padding-left: 0px;
        font-size:15px;
        line-height:22px;
      }
      width:400px;
      display:block;
      padding: 0px;
      list-style: none;
      position:relative;
       
      ul{
        padding: 0px;
        list-style: none;
       
        li{
          position:relative;
        }
        label{
          &.error{
            position:absolute;
            right:10px;
          }
        }
      }
      &.prefix{
        padding-left: 200px;
        margin-top: -25px;
        
        @media screen and (min-width: 1px) and (max-width: 960px) {
          width:auto;
        }
        
        h3{
           margin-left: -200px;
        }
        ul{
          .prefix{
            margin-left: -200px;
          } 
        }
      }
    }
    table{
      width:100%;
      max-width:600px;
      
      &.multiple-input{
        padding:10px 0px;
        thead{
          tr{
            th{
              
            }
          }
        }
        tbody{
          tr{
            height:30px;
            td{
              position:relative;
              input,select{
                width:100%;
                max-width:320px;
                margin-right:20px;
                display:block;
                position:relative;
              }
              select{
                min-width:170px;
                display:inline-block !important;
              }      
            }
          }
        }
        tfoot{
          tr{
            td{
              input[type=button]{
                cursor:pointer;
                padding:5px 15px;
                margin-right:3px;
                border:1px solid #666;
              }
            }
          }
        }
      }
    }
    .explanation{
      color: #58585a;
      font-style: italic;
    }
    #handtekening {
      height: 120px
    }
    input[type="submit"] {
      display: inline-block;
      padding: 10px;
      width: 166px;
      border: 1px solid #58585a;
      background-color: #0069A5; background-image: -webkit-gradient(linear, left top, left bottom, from(#0069A5), to(#0A9BEE));
     background-image: -webkit-linear-gradient(top, #0069A5, #0A9BEE);
     background-image: -moz-linear-gradient(top, #0069A5, #0A9BEE);
     background-image: -ms-linear-gradient(top, #0069A5, #0A9BEE);
     background-image: -o-linear-gradient(top, #0069A5, #0A9BEE);
     background-image: linear-gradient(to bottom, #0069A5, #0A9BEE);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#0069A5, endColorstr=#0A9BEE);
    border:1px solid #ccc;
    /*@include border-radius(15px);*/
    @include box-shadow(#666 5px 5px 10px);
                  color: #fff;
      cursor:pointer;
      text-align: center;
      text-decoration: none;
      font-weight: 700;
      
      &:hover{
        background-color: #0C82D5; background-image: -webkit-gradient(linear, left top, left bottom, from(#0C82D5), to(#02B3F4));
             background-image: -webkit-linear-gradient(top, #0C82D5, #02B3F4);
             background-image: -moz-linear-gradient(top, #0C82D5, #02B3F4);
             background-image: -ms-linear-gradient(top, #0C82D5, #02B3F4);
             background-image: -o-linear-gradient(top, #0C82D5, #02B3F4);
             background-image: linear-gradient(to bottom, #0C82D5, #02B3F4);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#0C82D5, endColorstr=#02B3F4);

      }
    }
    .formfix {
      display: none
    }
    .fe_inputWrap {
      width: auto;
      background: transparent !important
    }
    .fe_inputWrap input, input {
      opacity: 1;
      filter: alpha(opacity=100);
      border: 0;
      margin: 0
    }
  }
}