/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "print";

html,body{
  background-color:#fff !important;
}

#hero{
  overflow: visible;
  position: relative;
  
  div{
    &.wrap{
      &.clrfx{
        width: 100%;
        max-width:960px;
        margin: 0 auto;
        position: relative;
        *display: inline-block;
        _height: 1%;
        
        &:after{
          content: "";
          display: block;
          clear: both;
          visibility: hidden;
          font-size: 0;
          height: 0;
        }
        img{
          width:100%;
        }
        div{
          &.videothumb{
            right: 8px;
            position:absolute;
            bottom: 0px;
            
            @media screen and (min-width: 1px) and (max-width: 680px) {
               background-color:#2b2b2b;
               border-top:2px solid #ccc;
               border-bottom:2px solid #ccc;
            }

            
            a{
              &.btn_movie_view{
                bottom: 0px;
                right: 8px;
                display: block;
                min-width:200px;
                max-width: 258px;
                width:100%;
                
                img{
                  width:100%;
                  border-left: 4px solid #fff;
                  border-right: 4px solid #fff;
                  border-top: 4px solid #fff;
                  
                  &:hover{
                    border-left: 4px solid #02b3f4;
                    border-right: 4px solid #02b3f4;
                    border-top: 4px solid #02b3f4;
                  }
                }
                @media screen and (min-width: 1px) and (max-width:680px){
                  display:none; 
                }
                   
                &.mobile{
                  position:relative;
                  width:100%;
                  display:block;
                  text-align:center;
                  padding:10px;
                  color:#fff;
                  margin:0 auto;
                  text-decoration:none;
                  @media screen and (min-width: 681px){
                    display:none; 
                   }
                }
              }
            }
            div{
              &.dimm{
                position: fixed;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
                z-index: 95;
                width: 100%;
                height: 100%;
                background: #000000;
                opacity: 0.9;
                filter: alpha(opacity=90);
                text-indent: -9999px;
              }
              &.movie_content{
                display: none;
                position: absolute;
                top: 40px;
                left: 50%;
                z-index: 100;
                width: 640px;
                height: 408px;
                margin: 0 0 0 -320px;
                border: 1px solid #517596;
                background: #000000;
                
                a{
                  &.b-close{
                    position: absolute;
                    top: -1px;
                    right: -41px;
                  }
                }
                
                &#video{
                  position: relative;
                }
              }
            }
          }
        }
      }
    }
  }
}

#content-container{
  width:100%;
  max-width: 960px;
  margin: 4px auto 0px auto;
  position: relative;
  background-color:#fff !important;
  
  
  ul{
    &.nav-tabs{
      display: block;
      margin:0px;
      height:41px;
      position: relative;
      width: 100%;
      padding-left: 0px;
      
      &.bg{
        background-color: #0069A5; background-image: -webkit-gradient(linear, left top, left bottom, from(#0069A5), to(#0A9BEE));
          background-image: -webkit-linear-gradient(top, #0069A5, #0A9BEE);
          background-image: -moz-linear-gradient(top, #0069A5, #0A9BEE);
          background-image: -ms-linear-gradient(top, #0069A5, #0A9BEE);
          background-image: -o-linear-gradient(top, #0069A5, #0A9BEE);
          background-image: linear-gradient(to bottom, #0069A5, #0A9BEE);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#0069A5, endColorstr=#0A9BEE);
      }
      li{
        
        float: left;
        height: 40px;
        text-align: center;
        width:192px;
        min-width:20%;
        
        @media screen and (min-width: 1px) and (max-width: 980px) {
          width: 20%;
          border:none;
        }
        @media screen and (min-width: 981px){
          width:192px;
        }
        
        &:first-child{
          margin-left: 0;
        }
        
        &.rounded-tabs{
          text-decoration:none; 
          display:inline-block;
          text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
          font-weight:bold; color: #FFFFFF;
          background-color: #0069A5; background-image: -webkit-gradient(linear, left top, left bottom, from(#0069A5), to(#0A9BEE));
          background-image: -webkit-linear-gradient(top, #0069A5, #0A9BEE);
          background-image: -moz-linear-gradient(top, #0069A5, #0A9BEE);
          background-image: -ms-linear-gradient(top, #0069A5, #0A9BEE);
          background-image: -o-linear-gradient(top, #0069A5, #0A9BEE);
          background-image: linear-gradient(to bottom, #0069A5, #0A9BEE);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#0069A5, endColorstr=#0A9BEE);
        
          &:hover{
            background-color: #0C82D5; background-image: -webkit-gradient(linear, left top, left bottom, from(#0C82D5), to(#02B3F4));
             background-image: -webkit-linear-gradient(top, #0C82D5, #02B3F4);
             background-image: -moz-linear-gradient(top, #0C82D5, #02B3F4);
             background-image: -ms-linear-gradient(top, #0C82D5, #02B3F4);
             background-image: -o-linear-gradient(top, #0C82D5, #02B3F4);
             background-image: linear-gradient(to bottom, #0C82D5, #02B3F4);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#0C82D5, endColorstr=#02B3F4);

          }
          &.exception{
            background: #2b2b2b;
            height: 38px;
            border-bottom: 1px solid #333;
            filter: none;
            height: 40px;
            
            &.current{
              &:hover{
                background-color: #0C82D5; background-image: -webkit-gradient(linear, left top, left bottom, from(#0C82D5), to(#02B3F4));
                 background-image: -webkit-linear-gradient(top, #0C82D5, #02B3F4);
                 background-image: -moz-linear-gradient(top, #0C82D5, #02B3F4);
                 background-image: -ms-linear-gradient(top, #0C82D5, #02B3F4);
                 background-image: -o-linear-gradient(top, #0C82D5, #02B3F4);
                 background-image: linear-gradient(to bottom, #0C82D5, #02B3F4);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#0C82D5, endColorstr=#02B3F4);

              }
            }
          }
          &.current{
            height: 38px;
            background-color: #0C82D5; background-image: -webkit-gradient(linear, left top, left bottom, from(#0C82D5), to(#02B3F4));
            background-image: -webkit-linear-gradient(top, #0C82D5, #02B3F4);
            background-image: -moz-linear-gradient(top, #0C82D5, #02B3F4);
            background-image: -ms-linear-gradient(top, #0C82D5, #02B3F4);
            background-image: -o-linear-gradient(top, #0C82D5, #02B3F4);
            background-image: linear-gradient(to bottom, #0C82D5, #02B3F4);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#0C82D5, endColorstr=#02B3F4);
            filter: none;
            height: 40px;
            border-bottom:1px solid #333;
           
          }
          
        }
        a{
          color: #fff;
          font: 18px/40px Tahoma, sans-serif;
          text-decoration: none;
          cursor:pointer;
        }
      }
    }
  }
  div{
    &#main-content{
      width:100%;
      height: auto;
      border-top: 1px solid #ccc;
      padding-top: 30px;
    
    &.registreren{
      padding-top:0px;
      
    }
    &.bedankt{
      max-width:705px;
      width:100%;
      padding:30px;
      border-left:190px solid #e4f5ff;
      ul{
        &.bullets{
          padding-left:15px;
          li{
            list-style:disc !important; 
            font-size:15px;
            line-height:22px;
          }  
        }
        
      }
      @media screen and (min-width: 1px) and (max-width: 960px) {
          width:auto;
          padding:30px;
          border-left:10px solid #e4f5ff;
      }
    }
    &.voorwaarden{
      background-color:#e4f5ff;
      
      ul{
        &.menu{
          list-style:none;
          padding-left:30px;
          margin-bottom:0px;
          
          li{
            background-color:#fff;
            display:inline-block;
            padding:5px 10px;
            border-bottom:1px solid #f6f6f6;
            a{
              text-decoration:none;
            }
          }
        }
      }
      div{
        &.container{
          
          @media screen and (min-width: 1px) and (max-width: 980px) {
            padding:30px;  
          }
          background-color:#fff;
          margin:15px 30px 0px 30px;
          padding:60px;
          border:1px solid #f6f6f6;
          height:350px;
          overflow:auto;
          
          strong{
            font-weight:bold;
          }
          table{
            tr{
              td{
                p{
                  margin:0px;
                }
              }
            }
          }
        }
      }
    }
      div{
        &#kwaliteit, &#efficiency, &#contact{
          display:none;
        }
      }
      p{
        font-weight: normal;
        font-size: 15px;
        line-height:22px;
        margin: 15px 0px;
      }
    }
    div{
      &#promotie{
        
      }
    }
    &.tab{
      position: relative;
      display: block;
      
      @media screen and (min-width: 1px) and (max-width: 980px) {
        padding:30px; 
      }
      h1{
        font-size: 28px;
      }
      h2{
        color: #666666;
        font-size: 24px;
      }
      h3{
        color: #999999;
        font-size: 20px;
      }
      p{

      }
      a{
        
      }
      ul{
        &.nav-tabs{
          background:none;
          position:relative;
          display:block;
          width:100%;
          padding:10px 0px 40px 0px;          
          list-style:none;
          clear:both;
          
          li{
            @import "compass/css3/border-radius";
            @import "compass/css3/box-shadow";
            min-width:200px;
            width:100%;
            max-width:200px;
            padding:0px;
            margin-right:20px;
            float:left;
            height: 40px;
            display:inline-block;
            text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
            font-weight:bold; color: #FFFFFF;
             background-color: #0069A5; background-image: -webkit-gradient(linear, left top, left bottom, from(#0069A5), to(#0A9BEE));
             background-image: -webkit-linear-gradient(top, #0069A5, #0A9BEE);
             background-image: -moz-linear-gradient(top, #0069A5, #0A9BEE);
             background-image: -ms-linear-gradient(top, #0069A5, #0A9BEE);
             background-image: -o-linear-gradient(top, #0069A5, #0A9BEE);
             background-image: linear-gradient(to bottom, #0069A5, #0A9BEE);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#0069A5, endColorstr=#0A9BEE);
            border:1px solid #ccc;
            /*@include border-radius(15px);*/
            @include box-shadow(#666 5px 5px 10px);
            
            @media screen and (min-width: 1px) and (max-width: 570px){
               width:100%;  
               max-width:100%;
               margin:10px 0px; 
             }
            
            &:hover{
              background-color: #0C82D5; background-image: -webkit-gradient(linear, left top, left bottom, from(#0C82D5), to(#02B3F4));
             background-image: -webkit-linear-gradient(top, #0C82D5, #02B3F4);
             background-image: -moz-linear-gradient(top, #0C82D5, #02B3F4);
             background-image: -ms-linear-gradient(top, #0C82D5, #02B3F4);
             background-image: -o-linear-gradient(top, #0C82D5, #02B3F4);
             background-image: linear-gradient(to bottom, #0C82D5, #02B3F4);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#0C82D5, endColorstr=#02B3F4);
            }
            a{
              color: #fff;
              font: 18px/40px Tahoma, sans-serif;
              text-decoration: none;
            }
          }
          
        }
      }
      div{
        &.section{
          position: relative;
          padding-top: 45px;
          border-top: 1px solid #ccc;
          margin: 30px 0px;
  
          &.left{
            
            &.clrfx{
              *display: inline-block;
              _height: 1%;
  
              &:after{
                content: "";
                display: block;
                clear: both;
                visibility: hidden;
                font-size: 0;
                height: 0;
              }
              // div{
                // &.copy{
                  // position: absolute;
                  // left: 0px;
                  // width: 500px;
                  // top: 0px;
                // }
              // }
              img{
                float: left;
                margin-right:40px;
                
                &.no-mobile{
                    @media screen and (min-width: 1px) and (max-width: 980px){
                      display:none; 
                    }
                    @media screen and (min-width: 981px){
                      display:block; 
                    }
                }
                @media screen and (min-width: 1px) and (max-width: 980px){
                  width:100%;
                  margin: 0 auto;
                  padding:0px;
                  margin:0px;
                }
              }
            }
          }
          &.right{
            
            &.clrfx{
              *display: inline-block;
              _height: 1%;
              
              &:after{
                content: "";
                display: block;
                clear: both;
                visibility: hidden;
                font-size: 0;
                height: 0;
              }
              // div{
                // &.copy{
                  // position: absolute;
                  // right: 0px;
                  // width: 500px;
                  // top: 0px;
                // }
              // }
              img{
                float: right;
                margin-left:40px;
                
                &.no-mobile{
                    @media screen and (min-width: 1px) and (max-width: 980px){
                      display:none; 
                    }
                    @media screen and (min-width: 981px){
                      display:block; 
                    }
                }
                @media screen and (min-width: 1px) and (max-width: 980px){
                  width:100%;
                  margin: 0 auto;
                  padding:0px;
                  margin:0px;
                }
                
                
              }
            }
          }
          div{
            &.copy{
              // width: 530px;
              // position: absolute;
              // top: 20px;
              
              h1{
                
              }
              h2{
                
              }
              p{
                
              }
              a{
                
              }
            }
            &.dealer{
              border: 1px solid #ccc;
              padding: 10px;
              width: 213px;
              float: left;
              margin-right: 20px;
              
              img{
                
              }
              div{
                &.btnArea{
                  text-align: center;
                  
                  &:after{
                    content: "";
                    clear: both;
                    display: block;
                    height: 0;
                    visibility: hidden;
                  }
                  a{
                    &.btnStyle{
                      overflow: visible;
                      border: 0 none;
                      display: inline-block;
                      margin: 0;
                      padding: 0;
                      height: 32px;
                      background: url('../images/bg_btn_left_default.png') no-repeat 0 0;
                      
                      &:hover{
                        background: url('../images/bg_btn_left_default_over.png') no-repeat 0 0;
                        
                        span{
                          background: url('../images/bg_btn_right_default_over.png') no-repeat right 0;
                        }
                      }
                      span{
                        display: inline-block;
                        height: 32px;
                        margin: 0 0 0 22px;
                        padding: 0 35px 0 0;
                        line-height: 32px;
                        font-size: 12px;
                        color: #fff;
                        cursor: pointer;
                        white-space: nowrap;
                        background: url('../images/bg_btn_right_default.png') no-repeat right 0;
                      }
                    }
                  }
                }
              }
            }
            &.clrfx{
              clear:both;
            }
          }
          
        }
      }
    }
  }
}

#footer{
  
}
#scrollUp {
  bottom: 20px;
  right: 20px;
  padding: 10px 20px;
  /*background: #555;*/
  color: #fff;
  width:38px;
  height:38px;
  background: url('../images/top.png') no-repeat;
}
