/* Welcome to Compass. Use this file to define print styles.
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/print.css" media="print" rel="stylesheet" type="text/css" /> */
@media print {
  /* line 6, ../sass/print.scss */
  a[href]:after {
    content: none !important;
  }

  /* line 9, ../sass/print.scss */
  #hero {
    display: none;
  }

  /* line 12, ../sass/print.scss */
  form {
    width: 670px;
    font-size: 15px;
    border: none;
  }

  /* line 17, ../sass/print.scss */
  #promowebsite.ie8.registreren .pagebreak {
    page-break-after: always;
  }

  /* line 20, ../sass/print.scss */
  #promowebsite.ie7.registreren form, #promowebsite.ie8.registreren form {
    width: auto;
    font-size: 15px;
  }

  /* line 24, ../sass/print.scss */
  input[type="radio"], input[type="checkbox"] {
    display: none;
  }

  /* line 27, ../sass/print.scss */
  body * {
    visibility: hidden;
  }

  /* line 30, ../sass/print.scss */
  form, form * {
    visibility: visible;
  }

  /* line 33, ../sass/print.scss */
  .formfix {
    display: inline !important;
    visibility: visible !important;
  }

  /* line 37, ../sass/print.scss */
  form, #promowebsite, #container, #frameContainer {
    position: absolute !important;
    left: 0;
    top: 0;
  }

  /* line 42, ../sass/print.scss */
  #print {
    display: none !important;
  }
}
