/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* Welcome to Compass. Use this file to define print styles.
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/print.css" media="print" rel="stylesheet" type="text/css" /> */
@media print {
  /* line 6, ../sass/print.scss */
  a[href]:after {
    content: none !important;
  }

  /* line 9, ../sass/print.scss */
  #hero {
    display: none;
  }

  /* line 12, ../sass/print.scss */
  form {
    width: 670px;
    font-size: 15px;
    border: none;
  }

  /* line 17, ../sass/print.scss */
  #promowebsite.ie8.registreren .pagebreak {
    page-break-after: always;
  }

  /* line 20, ../sass/print.scss */
  #promowebsite.ie7.registreren form, #promowebsite.ie8.registreren form {
    width: auto;
    font-size: 15px;
  }

  /* line 24, ../sass/print.scss */
  input[type="radio"], input[type="checkbox"] {
    display: none;
  }

  /* line 27, ../sass/print.scss */
  body * {
    visibility: hidden;
  }

  /* line 30, ../sass/print.scss */
  form, form * {
    visibility: visible;
  }

  /* line 33, ../sass/print.scss */
  .formfix {
    display: inline !important;
    visibility: visible !important;
  }

  /* line 37, ../sass/print.scss */
  form, #promowebsite, #container, #frameContainer {
    position: absolute !important;
    left: 0;
    top: 0;
  }

  /* line 42, ../sass/print.scss */
  #print {
    display: none !important;
  }
}
/* line 8, ../sass/screen.scss */
html, body {
  background-color: #fff !important;
}

/* line 12, ../sass/screen.scss */
#hero {
  overflow: visible;
  position: relative;
}
/* line 18, ../sass/screen.scss */
#hero div.wrap.clrfx {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  position: relative;
  *display: inline-block;
  _height: 1%;
}
/* line 26, ../sass/screen.scss */
#hero div.wrap.clrfx:after {
  content: "";
  display: block;
  clear: both;
  visibility: hidden;
  font-size: 0;
  height: 0;
}
/* line 34, ../sass/screen.scss */
#hero div.wrap.clrfx img {
  width: 100%;
}
/* line 38, ../sass/screen.scss */
#hero div.wrap.clrfx div.videothumb {
  right: 8px;
  position: absolute;
  bottom: 0px;
}
@media screen and (min-width: 1px) and (max-width: 680px) {
  /* line 38, ../sass/screen.scss */
  #hero div.wrap.clrfx div.videothumb {
    background-color: #2b2b2b;
    border-top: 2px solid #ccc;
    border-bottom: 2px solid #ccc;
  }
}
/* line 51, ../sass/screen.scss */
#hero div.wrap.clrfx div.videothumb a.btn_movie_view {
  bottom: 0px;
  right: 8px;
  display: block;
  min-width: 200px;
  max-width: 258px;
  width: 100%;
}
/* line 59, ../sass/screen.scss */
#hero div.wrap.clrfx div.videothumb a.btn_movie_view img {
  width: 100%;
  border-left: 4px solid #fff;
  border-right: 4px solid #fff;
  border-top: 4px solid #fff;
}
/* line 65, ../sass/screen.scss */
#hero div.wrap.clrfx div.videothumb a.btn_movie_view img:hover {
  border-left: 4px solid #02b3f4;
  border-right: 4px solid #02b3f4;
  border-top: 4px solid #02b3f4;
}
@media screen and (min-width: 1px) and (max-width: 680px) {
  /* line 51, ../sass/screen.scss */
  #hero div.wrap.clrfx div.videothumb a.btn_movie_view {
    display: none;
  }
}
/* line 75, ../sass/screen.scss */
#hero div.wrap.clrfx div.videothumb a.btn_movie_view.mobile {
  position: relative;
  width: 100%;
  display: block;
  text-align: center;
  padding: 10px;
  color: #fff;
  margin: 0 auto;
  text-decoration: none;
}
@media screen and (min-width: 681px) {
  /* line 75, ../sass/screen.scss */
  #hero div.wrap.clrfx div.videothumb a.btn_movie_view.mobile {
    display: none;
  }
}
/* line 91, ../sass/screen.scss */
#hero div.wrap.clrfx div.videothumb div.dimm {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 95;
  width: 100%;
  height: 100%;
  background: #000000;
  opacity: 0.9;
  filter: alpha(opacity=90);
  text-indent: -9999px;
}
/* line 105, ../sass/screen.scss */
#hero div.wrap.clrfx div.videothumb div.movie_content {
  display: none;
  position: absolute;
  top: 40px;
  left: 50%;
  z-index: 100;
  width: 640px;
  height: 408px;
  margin: 0 0 0 -320px;
  border: 1px solid #517596;
  background: #000000;
}
/* line 118, ../sass/screen.scss */
#hero div.wrap.clrfx div.videothumb div.movie_content a.b-close {
  position: absolute;
  top: -1px;
  right: -41px;
}
/* line 125, ../sass/screen.scss */
#hero div.wrap.clrfx div.videothumb div.movie_content#video {
  position: relative;
}

/* line 137, ../sass/screen.scss */
#content-container {
  width: 100%;
  max-width: 960px;
  margin: 4px auto 0px auto;
  position: relative;
  background-color: #fff !important;
}
/* line 146, ../sass/screen.scss */
#content-container ul.nav-tabs {
  display: block;
  margin: 0px;
  height: 41px;
  position: relative;
  width: 100%;
  padding-left: 0px;
}
/* line 154, ../sass/screen.scss */
#content-container ul.nav-tabs.bg {
  background-color: #0069A5;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#0069a5), to(#0a9bee));
  background-image: -webkit-linear-gradient(top, #0069a5, #0a9bee);
  background-image: -moz-linear-gradient(top, #0069a5, #0a9bee);
  background-image: -ms-linear-gradient(top, #0069a5, #0a9bee);
  background-image: -o-linear-gradient(top, #0069a5, #0a9bee);
  background-image: linear-gradient(to bottom, #0069a5, #0a9bee);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#0069A5, endColorstr=#0A9BEE);
}
/* line 162, ../sass/screen.scss */
#content-container ul.nav-tabs li {
  float: left;
  height: 40px;
  text-align: center;
  width: 192px;
  min-width: 20%;
}
@media screen and (min-width: 1px) and (max-width: 980px) {
  /* line 162, ../sass/screen.scss */
  #content-container ul.nav-tabs li {
    width: 20%;
    border: none;
  }
}
@media screen and (min-width: 981px) {
  /* line 162, ../sass/screen.scss */
  #content-container ul.nav-tabs li {
    width: 192px;
  }
}
/* line 178, ../sass/screen.scss */
#content-container ul.nav-tabs li:first-child {
  margin-left: 0;
}
/* line 182, ../sass/screen.scss */
#content-container ul.nav-tabs li.rounded-tabs {
  text-decoration: none;
  display: inline-block;
  text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3);
  font-weight: bold;
  color: #FFFFFF;
  background-color: #0069A5;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#0069a5), to(#0a9bee));
  background-image: -webkit-linear-gradient(top, #0069a5, #0a9bee);
  background-image: -moz-linear-gradient(top, #0069a5, #0a9bee);
  background-image: -ms-linear-gradient(top, #0069a5, #0a9bee);
  background-image: -o-linear-gradient(top, #0069a5, #0a9bee);
  background-image: linear-gradient(to bottom, #0069a5, #0a9bee);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#0069A5, endColorstr=#0A9BEE);
}
/* line 194, ../sass/screen.scss */
#content-container ul.nav-tabs li.rounded-tabs:hover {
  background-color: #0C82D5;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#0c82d5), to(#02b3f4));
  background-image: -webkit-linear-gradient(top, #0c82d5, #02b3f4);
  background-image: -moz-linear-gradient(top, #0c82d5, #02b3f4);
  background-image: -ms-linear-gradient(top, #0c82d5, #02b3f4);
  background-image: -o-linear-gradient(top, #0c82d5, #02b3f4);
  background-image: linear-gradient(to bottom, #0c82d5, #02b3f4);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#0C82D5, endColorstr=#02B3F4);
}
/* line 203, ../sass/screen.scss */
#content-container ul.nav-tabs li.rounded-tabs.exception {
  background: #2b2b2b;
  height: 38px;
  border-bottom: 1px solid #333;
  filter: none;
  height: 40px;
}
/* line 211, ../sass/screen.scss */
#content-container ul.nav-tabs li.rounded-tabs.exception.current:hover {
  background-color: #0C82D5;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#0c82d5), to(#02b3f4));
  background-image: -webkit-linear-gradient(top, #0c82d5, #02b3f4);
  background-image: -moz-linear-gradient(top, #0c82d5, #02b3f4);
  background-image: -ms-linear-gradient(top, #0c82d5, #02b3f4);
  background-image: -o-linear-gradient(top, #0c82d5, #02b3f4);
  background-image: linear-gradient(to bottom, #0c82d5, #02b3f4);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#0C82D5, endColorstr=#02B3F4);
}
/* line 222, ../sass/screen.scss */
#content-container ul.nav-tabs li.rounded-tabs.current {
  height: 38px;
  background-color: #0C82D5;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#0c82d5), to(#02b3f4));
  background-image: -webkit-linear-gradient(top, #0c82d5, #02b3f4);
  background-image: -moz-linear-gradient(top, #0c82d5, #02b3f4);
  background-image: -ms-linear-gradient(top, #0c82d5, #02b3f4);
  background-image: -o-linear-gradient(top, #0c82d5, #02b3f4);
  background-image: linear-gradient(to bottom, #0c82d5, #02b3f4);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#0C82D5, endColorstr=#02B3F4);
  filter: none;
  height: 40px;
  border-bottom: 1px solid #333;
}
/* line 237, ../sass/screen.scss */
#content-container ul.nav-tabs li a {
  color: #fff;
  font: 18px/40px Tahoma, sans-serif;
  text-decoration: none;
  cursor: pointer;
}
/* line 247, ../sass/screen.scss */
#content-container div#main-content {
  width: 100%;
  height: auto;
  border-top: 1px solid #ccc;
  padding-top: 30px;
}
/* line 253, ../sass/screen.scss */
#content-container div#main-content.registreren {
  padding-top: 0px;
}
/* line 257, ../sass/screen.scss */
#content-container div#main-content.bedankt {
  max-width: 705px;
  width: 100%;
  padding: 30px;
  border-left: 190px solid #e4f5ff;
}
/* line 263, ../sass/screen.scss */
#content-container div#main-content.bedankt ul.bullets {
  padding-left: 15px;
}
/* line 265, ../sass/screen.scss */
#content-container div#main-content.bedankt ul.bullets li {
  list-style: disc !important;
  font-size: 15px;
  line-height: 22px;
}
@media screen and (min-width: 1px) and (max-width: 960px) {
  /* line 257, ../sass/screen.scss */
  #content-container div#main-content.bedankt {
    width: auto;
    padding: 30px;
    border-left: 10px solid #e4f5ff;
  }
}
/* line 279, ../sass/screen.scss */
#content-container div#main-content.voorwaarden {
  background-color: #e4f5ff;
}
/* line 283, ../sass/screen.scss */
#content-container div#main-content.voorwaarden ul.menu {
  list-style: none;
  padding-left: 30px;
  margin-bottom: 0px;
}
/* line 288, ../sass/screen.scss */
#content-container div#main-content.voorwaarden ul.menu li {
  background-color: #fff;
  display: inline-block;
  padding: 5px 10px;
  border-bottom: 1px solid #f6f6f6;
}
/* line 293, ../sass/screen.scss */
#content-container div#main-content.voorwaarden ul.menu li a {
  text-decoration: none;
}
/* line 300, ../sass/screen.scss */
#content-container div#main-content.voorwaarden div.container {
  background-color: #fff;
  margin: 15px 30px 0px 30px;
  padding: 60px;
  border: 1px solid #f6f6f6;
  height: 350px;
  overflow: auto;
}
@media screen and (min-width: 1px) and (max-width: 980px) {
  /* line 300, ../sass/screen.scss */
  #content-container div#main-content.voorwaarden div.container {
    padding: 30px;
  }
}
/* line 312, ../sass/screen.scss */
#content-container div#main-content.voorwaarden div.container strong {
  font-weight: bold;
}
/* line 318, ../sass/screen.scss */
#content-container div#main-content.voorwaarden div.container table tr td p {
  margin: 0px;
}
/* line 328, ../sass/screen.scss */
#content-container div#main-content div#kwaliteit, #content-container div#main-content div#efficiency, #content-container div#main-content div#contact {
  display: none;
}
/* line 332, ../sass/screen.scss */
#content-container div#main-content p {
  font-weight: normal;
  font-size: 15px;
  line-height: 22px;
  margin: 15px 0px;
}
/* line 344, ../sass/screen.scss */
#content-container div.tab {
  position: relative;
  display: block;
}
@media screen and (min-width: 1px) and (max-width: 980px) {
  /* line 344, ../sass/screen.scss */
  #content-container div.tab {
    padding: 30px;
  }
}
/* line 351, ../sass/screen.scss */
#content-container div.tab h1 {
  font-size: 28px;
}
/* line 354, ../sass/screen.scss */
#content-container div.tab h2 {
  color: #666666;
  font-size: 24px;
}
/* line 358, ../sass/screen.scss */
#content-container div.tab h3 {
  color: #999999;
  font-size: 20px;
}
/* line 369, ../sass/screen.scss */
#content-container div.tab ul.nav-tabs {
  background: none;
  position: relative;
  display: block;
  width: 100%;
  padding: 10px 0px 40px 0px;
  list-style: none;
  clear: both;
}
/* line 378, ../sass/screen.scss */
#content-container div.tab ul.nav-tabs li {
  min-width: 200px;
  width: 100%;
  max-width: 200px;
  padding: 0px;
  margin-right: 20px;
  float: left;
  height: 40px;
  display: inline-block;
  text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3);
  font-weight: bold;
  color: #FFFFFF;
  background-color: #0069A5;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#0069a5), to(#0a9bee));
  background-image: -webkit-linear-gradient(top, #0069a5, #0a9bee);
  background-image: -moz-linear-gradient(top, #0069a5, #0a9bee);
  background-image: -ms-linear-gradient(top, #0069a5, #0a9bee);
  background-image: -o-linear-gradient(top, #0069a5, #0a9bee);
  background-image: linear-gradient(to bottom, #0069a5, #0a9bee);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#0069A5, endColorstr=#0A9BEE);
  border: 1px solid #ccc;
  /*@include border-radius(15px);*/
  -webkit-box-shadow: #666666 5px 5px 10px;
  -moz-box-shadow: #666666 5px 5px 10px;
  box-shadow: #666666 5px 5px 10px;
}
@media screen and (min-width: 1px) and (max-width: 570px) {
  /* line 378, ../sass/screen.scss */
  #content-container div.tab ul.nav-tabs li {
    width: 100%;
    max-width: 100%;
    margin: 10px 0px;
  }
}
/* line 407, ../sass/screen.scss */
#content-container div.tab ul.nav-tabs li:hover {
  background-color: #0C82D5;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#0c82d5), to(#02b3f4));
  background-image: -webkit-linear-gradient(top, #0c82d5, #02b3f4);
  background-image: -moz-linear-gradient(top, #0c82d5, #02b3f4);
  background-image: -ms-linear-gradient(top, #0c82d5, #02b3f4);
  background-image: -o-linear-gradient(top, #0c82d5, #02b3f4);
  background-image: linear-gradient(to bottom, #0c82d5, #02b3f4);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#0C82D5, endColorstr=#02B3F4);
}
/* line 415, ../sass/screen.scss */
#content-container div.tab ul.nav-tabs li a {
  color: #fff;
  font: 18px/40px Tahoma, sans-serif;
  text-decoration: none;
}
/* line 425, ../sass/screen.scss */
#content-container div.tab div.section {
  position: relative;
  padding-top: 45px;
  border-top: 1px solid #ccc;
  margin: 30px 0px;
}
/* line 433, ../sass/screen.scss */
#content-container div.tab div.section.left.clrfx {
  *display: inline-block;
  _height: 1%;
}
/* line 437, ../sass/screen.scss */
#content-container div.tab div.section.left.clrfx:after {
  content: "";
  display: block;
  clear: both;
  visibility: hidden;
  font-size: 0;
  height: 0;
}
/* line 453, ../sass/screen.scss */
#content-container div.tab div.section.left.clrfx img {
  float: left;
  margin-right: 40px;
}
@media screen and (min-width: 1px) and (max-width: 980px) {
  /* line 457, ../sass/screen.scss */
  #content-container div.tab div.section.left.clrfx img.no-mobile {
    display: none;
  }
}
@media screen and (min-width: 981px) {
  /* line 457, ../sass/screen.scss */
  #content-container div.tab div.section.left.clrfx img.no-mobile {
    display: block;
  }
}
@media screen and (min-width: 1px) and (max-width: 980px) {
  /* line 453, ../sass/screen.scss */
  #content-container div.tab div.section.left.clrfx img {
    width: 100%;
    margin: 0 auto;
    padding: 0px;
    margin: 0px;
  }
}
/* line 476, ../sass/screen.scss */
#content-container div.tab div.section.right.clrfx {
  *display: inline-block;
  _height: 1%;
}
/* line 480, ../sass/screen.scss */
#content-container div.tab div.section.right.clrfx:after {
  content: "";
  display: block;
  clear: both;
  visibility: hidden;
  font-size: 0;
  height: 0;
}
/* line 496, ../sass/screen.scss */
#content-container div.tab div.section.right.clrfx img {
  float: right;
  margin-left: 40px;
}
@media screen and (min-width: 1px) and (max-width: 980px) {
  /* line 500, ../sass/screen.scss */
  #content-container div.tab div.section.right.clrfx img.no-mobile {
    display: none;
  }
}
@media screen and (min-width: 981px) {
  /* line 500, ../sass/screen.scss */
  #content-container div.tab div.section.right.clrfx img.no-mobile {
    display: block;
  }
}
@media screen and (min-width: 1px) and (max-width: 980px) {
  /* line 496, ../sass/screen.scss */
  #content-container div.tab div.section.right.clrfx img {
    width: 100%;
    margin: 0 auto;
    padding: 0px;
    margin: 0px;
  }
}
/* line 538, ../sass/screen.scss */
#content-container div.tab div.section div.dealer {
  border: 1px solid #ccc;
  padding: 10px;
  width: 213px;
  float: left;
  margin-right: 20px;
}
/* line 549, ../sass/screen.scss */
#content-container div.tab div.section div.dealer div.btnArea {
  text-align: center;
}
/* line 552, ../sass/screen.scss */
#content-container div.tab div.section div.dealer div.btnArea:after {
  content: "";
  clear: both;
  display: block;
  height: 0;
  visibility: hidden;
}
/* line 560, ../sass/screen.scss */
#content-container div.tab div.section div.dealer div.btnArea a.btnStyle {
  overflow: visible;
  border: 0 none;
  display: inline-block;
  margin: 0;
  padding: 0;
  height: 32px;
  background: url("../images/bg_btn_left_default.png") no-repeat 0 0;
}
/* line 569, ../sass/screen.scss */
#content-container div.tab div.section div.dealer div.btnArea a.btnStyle:hover {
  background: url("../images/bg_btn_left_default_over.png") no-repeat 0 0;
}
/* line 572, ../sass/screen.scss */
#content-container div.tab div.section div.dealer div.btnArea a.btnStyle:hover span {
  background: url("../images/bg_btn_right_default_over.png") no-repeat right 0;
}
/* line 576, ../sass/screen.scss */
#content-container div.tab div.section div.dealer div.btnArea a.btnStyle span {
  display: inline-block;
  height: 32px;
  margin: 0 0 0 22px;
  padding: 0 35px 0 0;
  line-height: 32px;
  font-size: 12px;
  color: #fff;
  cursor: pointer;
  white-space: nowrap;
  background: url("../images/bg_btn_right_default.png") no-repeat right 0;
}
/* line 593, ../sass/screen.scss */
#content-container div.tab div.section div.clrfx {
  clear: both;
}

/* line 607, ../sass/screen.scss */
#scrollUp {
  bottom: 20px;
  right: 20px;
  padding: 10px 20px;
  /*background: #555;*/
  color: #fff;
  width: 38px;
  height: 38px;
  background: url("../images/top.png") no-repeat;
}
